.blog-item {  
    max-width: 390px;  
    position: relative;
    transition: all 0.3s;
    .blog-item__type {
        border-radius: 4px;
        padding: 1px 8px;
        background-color: #fff;
        position: absolute;
        top: 12px;
        left: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        &-img {
            width: 16px;
            height: 16px;
        }
        &-text {
            font-size: 14px;
            line-height: 150%;
            color: #424551;
        }
    }
    
    .blog-item__img {
        margin-bottom: 16px;
    }
    .blog-item__info {
        .blog-item__details {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            gap: 24px;
            .blog-item__category {
            }
            .blog-item__date {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .blog-item__date-img {
            }
            .blog-item__duration {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .blog-item__duration-img {
            }
        }
        
        .blog-item__title {
            margin-bottom: 8px;
        }
        .blog-item__descr {
            margin-bottom: 16px;
        }
        .blog-item__link {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: var(--title-text);
            position: relative;
            padding-right: 32px;
            &::after {
                position: absolute;
                content: '';
                right: 0;
                transform: translateY(-50%);
                top: 50%;
                background-image: url('./icons/arrow.svg');
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
                background-position: center center;
                
            }
        }
    }

    &:hover {
        transform: scale(1.05);
    }
    
}