.single-course__title {
    background-color: var(--pink-color);
    padding: 120px 0;
    text-align: center;
    .section-subtitle {
        color: var(--primary-color);
    }
    .section-title {
        max-width: 82%;
        margin: 0 auto;
    }
}

.course-about {
    padding-top: 120px;
    padding-bottom: 114px;
    .course-about__inner {
        display: flex;
        justify-content: space-between;
        .course-info {
            max-width: 600px;
            &__title {
                margin-bottom: 40px;
            }
            &__descr {
                color: #424551;
                margin-bottom: 48px;
            }
            &__subtitle {
                font-weight: 700;
                font-size: 28px;
                line-height: 150%;
                color: var(--title-color);
                margin-bottom: 24px;
            }
            &__list {
                &-item {
                    margin-bottom: 4px;
                }
            }
        }
        
        .course-main {
            width: 495px;
            border: 1px solid var(--gray-300);
            border-radius: 4px;
            box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
            padding: 40px 32px;
            .course-main__item {
                margin-bottom: 32px;
                &-subtitle {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    color: var(--title-color);
                    margin-bottom: 4px;
                }
                &-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 130%;
                    color: var(--primary-color);
                    margin-bottom: 8px;
                }
                &-text {
                    color: #787a80;
                }
            }
            
            .course-main__btn {
                width: 100%;
            }
        }
    }
    
}


.course-curator {
    padding-bottom: 180px;
    .course-curator__inner {
        display: flex;
        justify-content: space-between;
    }
    .course-curator__img {
        background-color: var(--yellow-color);
    }
    .course-curator__info {
        width: 600px;
        .section-title {
            margin-bottom: 16px;
        }
        .course-curator__job {
            font-size: 20px;
            line-height: 150%;
            color:  #787a80;
            margin-bottom: 32px;
        }
        .course-curator__numbers {
            margin-bottom: 32px;
            &-item {
                display: flex;
                gap: 8px;
                align-items: center;
                font-weight: 700;
                color:  #424551;
            }
            &-img {
                width: 16px;
                height: 16px;
            }
        }
        .course-curator__about {
            color: #424551;
            margin-bottom: 40px;
        }
        .course-curator__social {
            display: flex;
            align-items: center;
            gap: 24px;
            .course-curator__social-item {
                width: 24px;
                height: 24px;
            }
        }
        
    }
    
}

.learning-process {
    padding-bottom: 120px;
    .section-subtitle {
        text-align: center;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }
    .learning-process__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .learning-process__item {
        width: 100%;
        &-num {
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: #d7dadd;
            margin-bottom: 16px;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: var(--title-text);
            margin-bottom: 8px;
        }

        &-descr {
            color: #787a80;
        }
    }
}

.discount {
    .discount__inner {
        background-color: var(--pink-color);
        position: relative;
        padding: 48px 60px;
    }
    .discount__title {
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: var(--title-text);
    }
    .discount-timer {
        position: absolute;
        top: 48px;
        right: 60px;
        display: flex;
        gap: 24px;
        .discount-timer__item {
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            color: var(--title-text);
            .discount-timer__num {
                margin-bottom: 4px;
            }
            .discount-timer__text {
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
    
   
    .discount-form {
        display: flex;
        width: 100%;
        gap: 24px;
    }
    .discount-form__btn {
        
    }
}

.course-whom {
    padding-bottom: 120px;
    .course-whom__inner {
        display: flex;
        justify-content: space-between;
        .course-whom {
            width: 495px;
        }
    }
    .course-whom__list {
        width: 600px;
        &-item {
            margin-bottom: 20px;
        }
    }
}

.course-program {
    &__inner {
        display: flex;
        justify-content: space-between;

        .course-program__info {
            width: 600px;
            .section-title {
                margin-bottom: 60px;
            }
        }

        .course-program__media {
            padding-top: 70px;
            &-img {
                object-fit: cover;
            }

        }
    }
    
}

.register {
    background-color: #F4F5F6;
    padding-bottom: 100px;
    .register__inner {
        display: flex;
        justify-content: space-between;
        .register__media {
            padding-top: 14px;
            &-img {
                object-fit: cover;
            }
        }
        .register__info {
            width: 495px;
            .section-title {
                margin-bottom: 40px;
            }
            .register-form {
                .form-label {
                    margin-bottom: 24px;
                }

                &__btn {
                    margin-top: 40px;
                }
            }
        }
    }
    
    
}

.other-courses {
    padding-top: 185px;
    &__inner {
        position: relative;
    }
    .section-title {
        margin-bottom: 60px;
    }
    .courses-slider {
        .courses-slider__buttons {
            display: flex;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 68px;
        }
        .courses-slider__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-bottom: 80px;
        }
    }
    
    .other-courses__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        &-text {
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: var(--title-text);
        }
    }
}
