.single-course__title {
    background-color: var(--pink-color);
    padding: 120px 0;
    text-align: center;
    .section-subtitle {
        color: var(--primary-color);
    }
    .section-title {
        max-width: 82%;
        margin: 0 auto;
    }
}

.course-about {
    padding-top: 120px;
    padding-bottom: 114px;
    .course-about__inner {
        display: flex;
        justify-content: space-between;
        .course-info {
            max-width: 600px;
            &__title {
                margin-bottom: 40px;
            }
            &__descr {
                color: #424551;
                margin-bottom: 48px;
            }
            &__subtitle {
                font-weight: 700;
                font-size: 28px;
                line-height: 150%;
                color: var(--title-color);
                margin-bottom: 24px;
            }
            &__list {
                &-item {
                    margin-bottom: 4px;
                }
            }
        }
        
        .course-main {
            width: 495px;
            border: 1px solid var(--gray-300);
            border-radius: 4px;
            box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
            padding: 40px 32px;
            .course-main__item {
                margin-bottom: 32px;
                &-subtitle {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    color: var(--title-color);
                    margin-bottom: 4px;
                }
                &-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 130%;
                    color: var(--primary-color);
                    margin-bottom: 8px;
                }
                &-text {
                    color: #787a80;
                }
            }
            
            .course-main__btn {
                width: 100%;
            }
        }
    }
    
}


.course-curator {
    padding-bottom: 180px;
    .course-curator__inner {
        display: flex;
        justify-content: space-between;
    }
    .course-curator__img {
        background-color: var(--yellow-color);
    }
    .course-curator__info {
        width: 600px;
        .section-title {
            margin-bottom: 16px;
        }
        .course-curator__job {
            font-size: 20px;
            line-height: 150%;
            color:  #787a80;
            margin-bottom: 32px;
        }
        .course-curator__numbers {
            margin-bottom: 32px;
            &-item {
                display: flex;
                gap: 8px;
                align-items: center;
                font-weight: 700;
                color:  #424551;
            }
            &-img {
                width: 16px;
                height: 16px;
            }
        }
        .course-curator__about {
            color: #424551;
            margin-bottom: 40px;
        }
        .course-curator__social {
            display: flex;
            align-items: center;
            gap: 24px;
            .course-curator__social-item {
                width: 24px;
                height: 24px;
            }
        }
        
    }
    
}

.learning-process {
    .section-subtitle {
        text-align: center;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }
    .learning-process__inner {
        display: flex;
    }
    .learning-process__item {
    }
    .learning-process__item-num {
    }
    .learning-process__item-title {
    }
    .learning-process__item-descr {
    }
}

.discount {
    .discount__inner {
    }
    .discount__title {
    }
    .discount-timer {
    }
    .discount-timer__item {
    }
    .discount-timer__num {
    }
    .discount-timer__text {
    }
    .discount-form {
    }
    .discount-form-label {
    }
    .discount-form__input {
    }
    .discount-form__btn {
    }
}

.course-whom {
    .course-whom__inner {
    }
    .course-whom__list {
    }
    .course-whom__list-item {
    }
}

.course-program {
    .container {
    }
    .course-program__info {
    }
    .section-subtitle {
    }
    .section-title {
    }
    .section-program__list {
    }
    .section-program__item {
    }
    .section-program__item-btn {
    }
    .section-program__item-title {
    }
    .section-program__item-text {
    }
    .course-program__media {
    }
    .course-program__media-img {
    }
}

.register {
    .register__inner {
    }
    .register__media {
    }
    .register__media-img {
    }
    .register__info {
    }
    .register-form {
    }
    .register-form__label {
    }
    .register-form__input {
    }
    .register-form__btn {
    }
    .orange-btn {
    }
}

.other-courses {
    .courses-slider {
    }
    .courses-slider__buttons {
    }
    .courses-slider__items {
    }
    .other-courses__more {
    }
    .other-courses__more-text {
    }
    .other-courses__more-btn {
    }
}
