.certificate {
    padding: 120px 0;
    .certificate__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .certificate-info {
        width: 397px;
        .section-title {
            margin-bottom: 48px;
        }
        .certificate-info__text {
            margin-bottom: 32px;
        }
        .brands {
            display: flex;
            justify-content: space-between;
        }
        .brands__img {
        }
    }
    .certificate-media {
        width: 705px;
        &-img {
            object-fit: cover;
        }
    }
}