:root {    
    --orange-color: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
    --pink-color: pink;
    --title-text: #1e212c;
    --gray-text: #424551;
    --red-color:  #ff4242;
    --light-gray-color:  #787a80;

    //colors
}
    