@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

//blocks
@import './reset';
@import './vars';


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-text);
}

button {
    color: inherit;
}

a {
    color: inherit;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange-btn {
    background: var(--orange-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 325%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    padding: 0 40px;
    border-radius: 4px;
}