.review-item {
    background-color: #fff;
    padding: 64px 105px;
    border-radius: 4px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
    &__text {
        padding-left: 58px;
        position: relative;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 24px;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background-image: url('./braces.svg');
            background-repeat: no-repeat;
            width: 28px;
            height: 20px;
        }

    }

    &__author {
        display: flex;
        &-img {
            width: 72px;
            height: 72px;
        }
        &-name {

        }

        &-course {

        }
    }
}