.promo {
    background: var(--pink-color);
    padding-top: 108px;
    padding-bottom: 80px;
    .promo__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 190px;
        .promo-info {
            max-width: 500px;
            .promo-video {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                gap: 10px;
                &__text {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    color: var(--gray-900);
                }
            }
            .promo-info__title {
                font-weight: 900;
                font-size: 64px;
                line-height: 130%;
                letter-spacing: 0.02em;
                color: var(--title-text);
                margin-bottom: 60px;
            }
            .promo-info__buttons {
                display: flex;
                gap: 24px;
            }
            .promo-info__btn {
            }
        }
       
        .promo-media {
        }
        .promo-media__img {
        }
    }
    
    .promo-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .promo-numbers__item {
            display: flex;
            align-items: center;
            gap: 12px;
            &-num {
                font-weight: 900;
                font-size: 46px;
                line-height: 130%;
                text-align: center;
                color: var(--title-text);
            }

            &-descr {
                color: var(--title-text);
            }            
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 8px;
                height: 8px;
                background-color: var(--primary-color);
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                right: -30%;
            }
        }
    }
    
}

.advantages {
    padding: 180px 0;
    .advantages__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .advantages-media {
            .advantages-media__img {
            }
        }
        
        .advantages-info {
            width: 390px;
            .section-title {
                margin-bottom: 40px;
            }
            .advantages-list {
                margin-bottom: 48px;
            }
            .advantages-list__item {
                margin-bottom: 12px;
                
            }
            .advantages__button {
                display: block;
            }
        }
        
    }
    
}

.featured {
    .section-title {
        margin-bottom: 60px;
    }
    padding: 90px 0;
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.benefits {
    padding-bottom: 120px;
    .section-title, .section-subtitle {
        text-align: center;
    }
    .benefits__inner {
        .benefits__tabs {
            margin-top: 60px;
            display: grid;
            margin-bottom: 60px;
            grid-template-columns: repeat(4, 1fr);
            .benefits__btn {
                width: 100%;
                padding: 10px 0;
                display: flex;
                justify-content: center;
                gap: 8px;
                align-items: center;
                
            }
        }
    
        .benefits__items {
            .benefits__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-info {
                    width: 495px;
    
                }
    
                &-title {
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 130%;
                    color: var(--title-text);
                    margin-bottom: 24px;
                }
    
                &-descr {
                    color:  #424551;
                }

                &-media {
                    width: 600px;
                    .benefits__item-img {
                        object-fit: cover;
                    }
                }
            }
        }
    }    
    
}

.events {
    background: var(--pink-color);
    .section-title, .section-subtitle {
        text-align: center;
    }

    .events__list {
        margin-top: 60px;
        margin-bottom: 60px;
        
    }

    .events__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        &-text {
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: var(--title-text);
        }
        &-btn {
            width: 214px;
            padding: 0;
            display: block;
        }
    }
}



.team {
    background-color: var(--background-gray-color);
    .section-title {
        margin-bottom: 60px;
    }
    &__inner {
        position: relative;
        .team-slider__buttons {
            position: absolute;
            right: 0;
            top: 56px;
        }
    }
    &__items {
        display: flex;
        gap: 20px;
    }
}





