.promo {
    background: var(--pink-color);
    padding-top: 108px;
    padding-bottom: 80px;
    .promo__inner {
        display: flex;
        justify-content: space-between;
        .promo-info {
        }
        .promo-info__title {
        }
        .promo-info__buttons {
        }
        .promo-info__btn {
        }
        .orange-btn {
        }
        .promo-media {
        }
        .promo-media__img {
        }
    }
    
    .promo-numbers {
        display: flex;
        .promo-numbers__item {
        }
        .promo-numbers__item-num {
        }
        .promo-numbers__item-descr {
        }
    }
    
}

.advantages {
    .advantages__inner {
        display: flex;
        justify-content: space-between;
        .advantages-media {
            .advantages-media__img {
            }
        }
        
        .advantages-info {
            .advantages-list {
            }
            .advantages-list__item {
            }
            .advantages__button {
            }
        }
        
    }
    
}

.featured {
    padding: 90px 0;
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.benefits {
    .benefits__items {
    }
    .benefits__tabs {
        display: flex;
    }
    .benefits__btn {
    }
    .benefits__item {
        display: flex;
    }
    .benefits__item-info {
    }
    .benefits__item-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: var(--title-text);
    }
    .benefits__item-descr {
    }
    
}

.events {
    background: var(--pink-color);
}

.certificate {
    .container {
    }
    .certificate__inner {
        display: flex;
    }
    .certificate-info {
    }
    .section-subtitle {
    }
    .section-title {
    }
    .certificate-info__text {
    }
    .brands {
        display: flex;
    }
    .brands__img {
    }
    .certificate-media {
    }
    .certificate-media__img {
    }
}

.team {
    &__items {
        display: flex;
    }
}

.blog {
    padding-top: 120px;
    padding-bottom: 180px;    
    &__inner {
        position: relative;
    }
    .section-title {
        margin-bottom: 60px;
    }

    &__btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.newsletter {
    padding-top: 180px;
    padding-bottom: 180px;
    background: var(--pink-color);
    background-image: url('./images/newsletter.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .section-title {
            margin-bottom: 60px;
            max-width: 810px;
        }
    }
    .newsletter-form {
        display: flex;
        gap: 24px;
        align-items: center;
        width: 600px;
        &__input {
            border: 1px solid var(--gray-400);
            border-radius: 4px;
            background-color: #fff;
            padding: 13px 16px;
            width: 100%;
            &::placeholder {
                font-size: 16px;
                line-height: 160%;
                color:  #9a9ca5;
            }
        }

        &__btn {

        }
    }
    
}



