.about-page {
    .about-page__inner {
        display: flex;
        justify-content: space-between;
        .about-page__info {
            width: 600px;
            .section-title {
                margin-bottom: 48px;
            }
            .about-page__info-text {
                margin-bottom: 60px;
                color: #424551;
                &.bold {
                    font-weight: 700;
                    color: #1e212c;
                    margin-bottom: 24px;
                }
            }
            .about-page__buttons {
                display: flex;
                gap: 23px;
                .about-page__btn {
                }
            }
        }
            
        .about-page__img {
            width: 465px;
            object-fit: cover;
        }
    }
    
}

.about-numbers {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about-numbers__media {
            .about-numbers__img {
            }
        }
        
        .about-numbers__list {
            max-width: 400px;
            .about-numbers__list-item {
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                color: #1e212c;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                gap: 16px;
                span {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 130%;
                    letter-spacing: 0.02em;
                    color: var(--primary-color);
                }
            }
        }
        
    }
    
}

.values {
    .section-subtitle {
        text-align: center;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }

    .values__items {
        display: flex;
        justify-content: space-between;

    }
    .values__item {
        width: 240px;
        text-align: center;
        &-img {
            width: 48px;
            height: 48px;
            margin: 0 auto;
            margin-bottom: 24px;
        }

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: #1e212c;
            margin-bottom: 8px;
        }

        &-descr {
            color:  #787a80;
        }
    }
}

.directions {
    .section-subtitle {
        text-align: center;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }
    .directions__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.about-process {
    .about-process__inner {
        display: flex;
        justify-content: space-between;
        .about-process__info {
            width: 495px;
            .section-title {
                margin-bottom: 60px;
            }
            .about-process__steps {
            }
            .about-process__step {
                margin-bottom: 32px;
                &-subtitle {
                    font-weight: 900;
                    font-size: 12px;
                    line-height: 150%;
                    color:  #787a80;
                }

                &-title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: var(--title-text);
                    margin-bottom: 8px;
                }
                &-text {
                    color: #787a80;
                }
            }
            
        }
        

        .about-process__media {
            .about-process__media-img {
            }
        }
    }
    
    
    
}

.best-tutors {
    .best-tutors__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
}

.jobs {
    .jobs__inner {
    }
    .jobs__item {
    }
    .jobs__item-img {
    }
}
