.tutor-item {
    width: 285px;
    .tutor-item__main {
        position: relative;
        background-color: var(--yellow-color);
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 16px;
        .tutor-item__overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
            .tutor-social__list {
                position: absolute;
                right: 20px;
                bottom: 20px;
                display: flex;
                gap: 12px;
                &-item {
                    width: 12px;
                    height: 12px;
                }
                .tutor-social__list-link {
                }
                .tutor-social__list-img {
                }
            }
        }
    }
    
    .tutor-item__info {
        text-align: center;
        &-name {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color:  #424551;
        }

        &-job {
            color:  #424551;
        }
    }
}
