.header {
    padding: 20px 0;
    background: var(--pink-color);
    font-weight: 700;
    .header__inner {
        display: flex;
        align-items: center;
        gap: 60px;
        justify-content: flex-start;
        font-weight: 700;
        color: var(--gray-800);
    }
    .logo {
    }
    .logo__img {
    }
    .menu {
        .menu__list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .menu__list-item {
            transition: all 0.2s;
            &:hover {
                color: var(--primary-color);
            }
        }
        .menu__list-link {
        }
    }
    
    .header__buttons {
        display: flex;
        align-items: center;
        gap: 36px;
        margin-left: auto;
    }
    .header__btn {
        display: flex;
        align-items: center;
        gap: 8px;
        &-img {
            width: 20px;
            height: 20px;
        }
    }
}

