.event-item {
    display: flex;
    border-radius: 4px;
    background-color: #fff;
    .event-item__date {
    }
    .event-item__details {
    }
    .item-title {
    }
    .event-item__text {
    }
    .event-item__info {
    }
    .event-item__link {
    }
    .orange-btn {
    }
}
