.event-item {
    display: flex;
    align-items: flex-start;
    border-radius: 4px;
    background-color: #fff;
    padding: 32px 40px;
    width: 100%;
    gap: 20px;
    margin-bottom: 24px;
    transition: all 0.3s;
    .event-item__date {
        font-weight: 900;
        font-size: 48px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: var(--primary-color);
    }
    .event-item__details {
    }
    .item-title {
        margin-bottom: 4px;
        
    }
    .event-item__text {
        color: #787a80;
    }
    .event-item__info {
        padding: 0 20px;
    }
    .event-item__link {
        margin-left: auto;
        width: 135px;
        display: block;
        padding: 0;
    }

    &:hover {
        box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(255, 63, 58, 0.08), 0 30px 24px -10px rgba(255, 63, 58, 0.1), 0 80px 80px -20px rgba(255, 63, 58, 0.16);
    }
}
